* {
  margin: 0px;
  padding: 0px;
}

.s1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1080px;
  height: 810px;
  z-index: 1;
}

.option1 {
  position: absolute;
  left: 187px;
  top: 476px;
  width: 117px;
  height: 117px;
  display: none;
  z-index: 5;
}

.option2 {
  position: absolute;
  left: 802px;
  top: 481px;
  width: 117px;
  height: 117px;
  display: none;
  z-index: 5;
}

.option3 {
	position: absolute;
  left: 111px;
  top: 468px;
  width: 330px;
  height: 69px;
  display: none;
	z-index: 5;
}

.option4 {
	position: absolute;
  left: 566px;
  top: 468px;
  width: 330px;
  height: 69px;
  display: none;
	z-index: 5;
}


.slide02_inline_wraper {
	position: absolute;
	width: 1080px;
	height: 810px;
	z-index: 1005;
}

#radio01 {
  position: absolute;
  left: 173px;
  top: 457px;
  width: 358px;
  height: 138px;
  z-index: 1010;
}

#radio02 {
  position: absolute;
  left: 562px;
  top: 457px;
  width: 358px;
  height: 138px;
  z-index: 1010;
}

#radio03 {
	position: absolute;
  left: 111px;
  top: 468px;
  width: 330px;
  height: 69px;
  z-index: 1010;
}

#radio04 {
	position: absolute;
  left: 566px;
  top: 468px;
  width: 330px;
  height: 69px;
  z-index: 1010;
}