* {
  margin: 0px;
  padding: 0px;
}

.s1 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1080px;
  height: 810px;
  z-index: 1;
}

.s2 {
  position: absolute;
  left: 772px;
  top: 569px;
  width: 87px;
  height: 67px;
  	animation: revealHorizontal 0.5s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
  z-index: 7;
}

@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,100px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,200px,100px,0px);
	opacity: 1;
  }
}