*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 207px;
  top: 105px;
  width: 666px;
  height: 138px;
	animation: none 0.5s;
	animation-delay: 0.1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 379px;
  top: 422px;
  width: 315px;
  height: 100px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 720px;
  top: 422px;
  width: 315px;
  height: 100px;
	animation: fadeInRight 0.5s;
	animation-delay: 0.9s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 498px;
  top: 534px;
  width: 357px;
  height: 100px;
	animation: fadeInRight 0.5s;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 614px;
  top: 657px;
  width: 90px;
  height: 90px;
	animation: zoomIn 0.3s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 718px;
  top: 681px;
  width: 74px;
  height: 45px;
	animation: fadeInRight 0.3s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 488px;
  top: 446px;
  width: 109px;
  height: 85px;
	animation: fadeInDownSmall 0.5s;
	animation-delay: 2.2s;
	animation-fill-mode: both;
	z-index: 5;
}

@keyframes flashOut {
  0%, 50%, 100% {
    opacity: 0;
  }

  25%, 75% {
    opacity: 1;
  }
}