*{
	margin: 0px;
	padding: 0px;
}

.openRibbon {
	position: absolute;
   left: 0px;
  top: 0px;
  width: 1080px;
  height: 810px;
  z-index: 50;
}

.s1 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 1080px;
  height: 810px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 512px;
  top: 463px;
  width: 57px;
  height: 78px;
	animation: pulse 1s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 1080px;
  height: 810px;
	animation: fadeIn 0.3s;
	animation-delay: 0s;
	animation-fill-mode: both;
	display: none;
	z-index: 10;
}

.s4 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 1080px;
  height: 810px;
	animation: fadeIn 0.3s;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	display: none;
	z-index: 15;
}

.s5 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 1080px;
  height: 810px;
	animation: fadeIn 0.3s;
	animation-delay: 0.6s;
	animation-fill-mode: both;
	display: none;
	z-index: 20;
}

.s6 {
	position: absolute;
  left: 605px;
  top: 98px;
  width: 360px;
  height: 82px;
	animation: fadeInUp 0.5s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	display: none;
	z-index: 25;
}

.s7 {
	position: absolute;
  left: 608px;
  top: 193px;
  width: 394px;
  height: 157px;
	animation: fadeInRight 0.3s;
	animation-delay: 2s;
	animation-fill-mode: both;
	display: none;
	z-index: 25;
}

.s8 {
	position: absolute;
  left: 662px;
  top: 292px;
  width: 155px;
  height: 165px;
	animation: arrowUp 1s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	display: none;
	z-index: 30;
}

.s9 {
  position: absolute;
  left: 853px;
  top: 312px;
  width: 129px;
  height: 56px;
  	animation: fadeInUp 0.5s;
	animation-delay: 3s;
	animation-fill-mode: both;
	display: none;
	z-index: 25;
}


@keyframes flashOut {
  0%, 50%, 100% {
    opacity: 0;
  }

  25%, 75% {
    opacity: 1;
  }
}

@keyframes fadeInUpSmall {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 30%, 0);
    transform: translate3d(0, 30%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,200px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,450px,200px,0px);
	opacity: 1;
  }
}

@keyframes arrowUp {
  0% {
  opacity: 0;
  left: 662px;
  top: 292px;
  width: 155px;
  height: 165px;
  }
  1% {
  opacity: 1;
  left: 662px;
  top: 292px;
  width: 155px;
  height: 165px;
  }

  100% {
  opacity: 1;
  left: 767px;
  top: 178px;
  width: 155px;
  height: 165px;
  }
}